/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Custom Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
}
.container {
    max-width: 1500px;
    margin: 0 auto;
    padding: 0 32px;
    
}
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
/* Header section */
.background-image {
   
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
                       rgba(0, 0, 0, 0.5)), url("../assets/gallery/banner.jpg");
    background-size: cover;
    height: 95vh; 
}
.social-nav {
    text-align: center;
    padding: 30px; 
}
.social-nav a {
    text-decoration: none;
    padding: 12px;
    font-size: 12px;
    color: #444444;
    border-radius: 50%;
    background-color: white;
    margin: 6px;
}
.hero {
    background-color: white;
    height: 100px;
    position: sticky;
    width: 1500px;
    box-shadow:5px #861e1e;
    z-index: 100;
    top: 0; 
}
.header-nav a {
    text-decoration: none;
    margin: 16px;
    font-size: 16px;
    text-transform: uppercase;
    color:black;
}

.hero-img {
    flex: 0 1 10%;   
}
.logo-name {
    flex: 0 1 70%;
}
.header-nav {
   flex: 0 1 60%;
} 
.logo-name a {
    color: #EA513E;
    font-size: 48px;
    
    font-weight: 800;
    padding: 20px;
    text-decoration: none;
     
}
h1 {
    padding-top: 300px;
    font-size: 40px;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-weight: 900;
}
header hr {
    width: 450px;
}
h2 {
    font-size: 20px;
    padding-top: 40px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    font-weight: 700;
}
.btn {
    text-align: center;
    padding-top: 50px; 
}
.btn button {
    background-color: #EA513E;
    font-size: 20px;
    color: white;
    padding: 10px 20px;
}
.circle-center {
    display: flex;
    justify-content: center;
    padding: 20px;
}
.circle {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: black;
    padding: 10px;
    margin: 10px;
}
.circle-grey {
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background-color: grey;
    padding: 10px;
    margin: 10px;
}
/* main section */
.services {
    padding-top: 150px;
}
h3 {
    font-size: 32px;
    text-decoration: underline;
    color: #444444;
    text-align: center;
    text-transform: uppercase;
    font-weight: 550;
}
h4 {
    font-size: 24px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 30px;
    color: grey;
    padding-bottom: 40px;
}
.box-1 {
    width: 320px;
    height: 350px;
    background-color: #4EBD9C;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.box-2 {
    width: 300px;
    height: 350px;
    background-color: #E67E27;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.box-3 {
    width: 300px;
    height: 350px;
    background-color: #3598DB;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.box-4 {
    width: 300px;
    height: 350px;
    background-color: #5FCD72;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.portpolio {
    padding-top: 150px;
}
.photos {
    flex: 0 1 23%;
    padding: 30px 0;
}
.port {
    width: 100%;
}
.wrap {
    flex-wrap: wrap;
}
.team {
    padding-top: 150px;
}
.members {
    flex: 0 1 23%;
    padding: 30px 0;
}
.members-img {
    width: 100%;
    border-radius: 50%;
}
.team-intro {
    padding-bottom: 80px;
}

.skills {
    text-transform: uppercase;
    font-size: 20px;
    text-align: center;
    padding: 10px;
    font-style: italic;
}
.skills-capt {
    font-size: 16px;
    text-align: center;
    padding-bottom: 40px;
    font-style: italic;
}
.intro-para {
    flex: 0 1 75%;
    padding-right: 20px;
}

.intro-percent {
    flex: 0 1 25%;
}
.intro-para p{
    font-size: 20px;
    line-height: 1.3;
}
.percent1 {
    width: 400px;
    height: 45px;
    color: white;
    font-weight: 700;
    background: linear-gradient(to right, #EA513E 90%, #d3c9c9 10%);
    vertical-align: middle;
    padding: 15px;
    margin: 20px 0;
}
.percent2 {
    width: 400px;
    height: 45px;
    color: white;
    font-weight: 700;
    background: linear-gradient(to right, #EA513E 70%, #d3c9c9 30%);
    vertical-align: middle;
    padding: 15px;
    margin: 20px 0;
}
.percent3 {
    width: 400px;
    height: 45px;
    color: white;
    font-weight: 700;
    background: linear-gradient(to right, #EA513E 80%, #d3c9c9 20%);
    vertical-align: middle;
    padding: 15px;
    margin: 20px 0;
}
.percent4 {
    width: 400px;
    height: 45px;
    color: white;
    font-weight: 700;
    background: linear-gradient(to right, #EA513E 80%, #d3c9c9 20%);
    vertical-align: middle;
    padding: 15px;
    margin: 20px 0;
}
.write-box {
   width: 100%;
   height: 400px;
   border: 10px solid #EFEFEF;
   margin: 30px 0;
}
.left {
    flex: 0 1 60%;
    line-height: 1.4;
    font-size: 20px;
}
.right {
    flex: 0 1 40%;
}
.details {
    height: 40px;
    font-size: 20px;
    padding: 10px;
    border: 2px solid #D5D5D5;
    margin: 0 0 20px 20px;
    color: #797575;
}
.details-msg {
    height: 40px;
    padding: 10px;
    font-size: 20px;
    border: 2px solid #D5D5D5;
    margin: 0 0 20px 20px;
    color: #797575;
    height: 150px;
}
.details-red {
    height: 40px;
    font-size: 20px;
    padding: 10px;
    background-color: #EA513E;
    margin: 0 0 20px 20px;
    color: white;
    text-align: center;
    
}
.right a{
    text-decoration: none;
}
.blue {
    color: blue;
}
.green {
    color: green;
}
.web {
    text-decoration: none;
    color: #EA513E;
}
.bold {
    font-weight: bold;
}
.last {
    padding-top:150px;
    margin-bottom: 100px;
}
/* footer section */
.top {
    width:200px;
    height: 60px;
    padding: 20px;
    text-transform: uppercase;
    background-color: #EA513E;
    text-align: center;
    margin: 20PX 0;
}
.top a {
    text-decoration: none;
    color: white;
    font-weight: 800;
    font-size: 20px; 
}
footer a {
    text-decoration: none;
    color: white;
    font-size: 20px;
}
/* Gallery section */
.gallery-nav {
    flex: 0 1 25%;
}
.gallery-photos {
    flex: 0 1 75%;
}
h6 {
    text-align: center;
    font-size: 40px;
    padding: 20px;
    font-weight: 900;
}
.background {
    max-width: 450px;
    background-color: #EA513E;
    height: 100vh;
    padding: 40px;
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}
.gallery-logo {
    flex: 0 1 20%;
    align-self: flex-start;
}
.gallery-name {
    flex: 0 1 60%;  
}
.gallery-name a{
    font-size: 30px;
    color:white;
    text-decoration: none;
    font-weight: 800;
}
.gallery-home {
    flex: 0 1 20%; 
}
.gallery-home a{
    font-size: 15px;
    color:white;
    text-decoration: none;
    text-align: center;
}
.home-box {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
}
.row {
    display: flex;
    flex-wrap: wrap;
}
.column {
    flex: 50%;
    max-width: 45%;
    margin: 20px;
}
.port1 {
    border: 2px solid black;
    border-radius: 4px;
    width: 100%;
    margin:20px;
}
.full-stack {
    font-size: 30px;
    font-weight: 800;
    color: white;
    line-height: 1.5;
}
.intro {
    color: black;
    padding: 20px 0;
    line-height: 1.3;
    margin-bottom: 30px;
}
.social a {
    text-decoration: none;
    margin: 10px;
    font-size: 20px;
    color: white;
    border: 2px solid white;
    padding: 12px;
    border-radius: 50%;

}